{% extends "bookmarks/bookmark_base.html" %}

{% block title %}Bookmark Detail{% endblock %}

{% block content %}

      <ul class="list-group">
        <li class="list-group-item list-group-item-warning">{{ bookmark.title }}</li>

        {% if bookmark.bookmark_description %}
        <li class="list-group-item">description: {{ bookmark.bookmark_description }}</li>
        {% endif %}
        <li class="list-group-item">{{ bookmark.url }}</li>
    </ul>

    <h6>Clicks: {{ bookmark.bookmark_clicks }}</h6>
    <a href="{% url 'bookmark_list' %}">return to bookmark list</a>

{% endblock %}