{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bookmark Base{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    <! Using template extensions, display the titles of the
    [five most recent] bookmarks with links on each page >

    <div>
        <h3>Recent History (last 5 bookmarks)</h3>
        <ul class="list-group">
            {% for bookmark in request.session.recent_five %}
                <li class="list-group-item">
                    <a href="{% url 'bookmark_detail' bookmark.id %}">{{ bookmark.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>