{% extends "bookmarks/bookmark_base.html" %}
{% load bootstrap3 %}

{% block title %}Shortnr - Bookmark List{% endblock %}

{% block content %}
    <h1>Bookmarks</h1>
    {% if user.is_authenticated %}
        <h4>Welcome, {{ user.username }}!</h4>
    {% else %}
        <h4>Welcome to Shortnr, Visitor!</h4>
    {% endif %}

    {% if bookmarks %}
        <ul class="list-group">
            {% for bookmark in bookmarks %}
                <br>
                <li class="list-group-item list-group-item-success">
                    <a href="{% url 'bookmark_detail' bookmark.id %}">{{ bookmark.title }}</a></li>
                {% if bookmark.description %}
                <li class="list-group-item">
                    Description: {{ bookmark.bookmark_description }}</li>
                {% endif %}

                <li class="list-group-item">
                    <a href="{% url 'redirect_link' bookmark.url_key %}">{{ bookmark.short_url }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <h2>No Bookmarks Saved Yet</h2>
        {% endif %}

    {% bootstrap_pagination page_obj %}
{% endblock %}